[Desktop Entry]
Name=Komorebi
Comment=An awesome wallpapers manager
Keywords=wallpaper;settings; preferences;
Icon=/usr/share/pixmaps/komorebi/komorebi.svg
Exec=/usr/bin/komorebi
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
X-GNOME-Autostart-enabled=true
