[Desktop Entry]
Name=Wallpaper Creator
Comment=Create wallpapers for Komorebi
Keywords=wallpaper; settings; preferences;
Icon=/System/Resources/Komorebi/wallpaper_creator.svg
Exec=/System/Applications/komorebi-wallpaper-creator
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
X-GNOME-Autostart-enabled=false
