[Desktop Entry]
Name=Wallpaper Creator
Comment=Create wallpapers for Komorebi
Keywords=wallpaper; settings; preferences;
Icon=/usr/share/komorebi/wallpaper_creator.svg
Exec=/usr/bin/komorebi-wallpaper-creator
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
X-GNOME-Autostart-enabled=false
